#Layer7_0_FILL{
    fill:#FFFF00;
}

#Layer1_0_FILL{
    fill:#FFFF00;
}

#Layer0_0_FILL{
    fill:#FFCC99;
}

#Layer4_0_FILL{
    fill:#FFCC99;
}

#Layer5_0_FILL{
    fill:#FFCC99;
}

#Layer2_0_FILL{
    fill:#00CCFF;
}

#Layer6_0_FILL{
    fill:#66CC66;
}

#Layer3_0_FILL{
    fill:#FFFFFF;
}